.footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
  }
  .container {
    display: flex;
    width:70%;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    position: relative;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    font-size:30px;
    width:100%;
    font-family: 'Lateef', cursive;
  }
  

  

  
  .footer-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  

  .image-container {
    max-width: 40%; /* Ensures the image scales down proportionally */
    height: auto; /* Allows the height to adjust automatically based on the width */
    margin-bottom: 5px;
  }
 


  .kid-friendly-container {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#7feef1;
    border-radius: 10px;
  }
  
  .count-input {
    margin-top: 20px;
  }

  .box-container {
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(127, 238, 241, 0.1); /* Adjust the alpha value (0.5) as needed for transparency */
    border: 1px solid #85ccf5;
    font-size: 20px;
    font-family: 'Lateef', cursive;
    display: flex;
    align-items: center;
  }
  
  .phrase-text {
    flex: 1;
  }
  
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    position: relative;
  }
  
  .checkmark {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 2px solid #85ccf5;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  input[type="checkbox"]:checked + .checkmark:after {
    content: '\2713'; /* Checkmark symbol */
    display: block;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: #85ccf5;
  }
  
  
  