<link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">

  <div class="container">
    <div class="header">
      <p >
        {{question}}
      </p>
    </div>
    <div cdkDropList class="D" (cdkDropListDropped)="drop($event)" class="box-container">
      <div class="example-box" *ngFor="let dt of data" cdkDrag>{{dt.value}}</div>
    </div>
    <div class="mt-5 mb-5">
        <button (click)="goToNextPage()" class="sm:inline-flex ml-3 mb-6 " mat-flat-button [color]="'green'">
          <mat-icon class="icon-size-5" [svgIcon]=" 'heroicons_outline:plus' "></mat-icon>
          <span class="ml-2">{{getLabel('next')}}</span>
        </button>
    </div>


  </div>
