:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

/* Default styles for the footer image */
.footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
  }
  
  /* Media query for screens with a minimum width of 769px (adjust as needed) */
  @media (min-width: 769px) {
    .footer {
      display: none; /* Hide the footer for larger screens */
    }
  }


  .footer-big {
    width: 100%;
    height: 10%;
    position: absolute;

    bottom: 0;
  }
  
  /* Media query for screens with a minimum width of 769px (adjust as needed) */
  @media (max-width: 769px) {
    .footer-big {
      display: none; /* Hide the footer for larger screens */
    }
  }