<link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
  <div class="container">
    <div class="header">
        <p><b>اختر <u>الاجابات</u> الصحيحة </b></p>
        <p><b>{{ question }}</b></p>
    </div>
    <div class="button-table" [ngStyle]="{'min-height': minTableHeight}">
        <div *ngFor="let dt of data" class="button-row" [ngClass]="{'selected': dt.selected}" (click)="toggleSelection(dt)">
          {{ dt.value }}
        </div>
      </div>
      <div class="mt-5 mb-5">
        <button (click)="goToNextPage()" class="sm:inline-flex" mat-flat-button [color]="'green'">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2">{{ getLabel('next') }}</span>
          </button>
    </div>
  </div>
  