<div class="sm:inset-0 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-4 sm:py-4 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">
                {{getLabel('user')}} 
            </div>
        </div>



        <!-- buttons -->
        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <div class="flex-auto">
                <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'">
                    </mat-icon>
                    <input
                        matInput
                        (keyup)="applyFilter($event)"
                        [autocomplete]="'off'"
                        [placeholder]="getLabel('search')">
                </mat-form-field> -->
            </div>
            
                <!-- <button
                (click)="addUser()" 
            class="sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                <mat-icon class="icon-size-5" 

                [svgIcon]=" 'heroicons_outline:plus' "></mat-icon>
                <span class="ml-2">{{getLabel('add')}}</span>
            </button> -->
            </div>

        </div>

        <div class="flex flex-auto overflow-hidden">

            <!-- Areas list -->
            <div class="flex flex-col flex-auto sm:mb-4 overflow-hidden sm:overflow-y-auto">
                <app-erp-grid #userGrid [buttons]="[]"
                    [columns]="columns"
                    [screen]=" 'user'">
                </app-erp-grid>
            </div>
        </div>

        <mat-paginator
            [length]="length"
            [pageIndex]="currentPage"
            [pageSizeOptions]="[5,10,20,50]"
            [pageSize]="pageSize"
            (page)=" handlePage($event)">
        </mat-paginator>

    </div>
