<div class="sm:inset-0 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *ngIf="lessons">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-4 sm:py-4 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">
                {{getLabel('user')}} 
            </div>
        </div>



        <!-- buttons -->
        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <div class="flex-auto">

            </div>
            </div>

        </div>
        <div class="w-1/2 m-4">
            <app-dropdown-field [optionValue]=" 'lesson_id' " [optionName]=" 'lesson_name' "
            [options]="lessons" class="w-full pr-2" [label]=" 'lessons' "
            [blank]="true"
            (onDropdownSelection)="fetchQuestionAnswers($event)"
            [control]=" 'lessons' " [form]="dashboardForm">
        </app-dropdown-field>
        </div>

        <div class="flex flex-auto overflow-hidden">

            <!-- Areas list -->
            <div class="flex flex-col flex-auto sm:mb-4 overflow-hidden sm:overflow-y-auto">
                <app-erp-grid #userGrid [buttons]="[]"
                    [columns]="columns"
                    [screen]=" 'user'">
                </app-erp-grid>
            </div>
        </div>

        <mat-paginator
            [length]="length"
            [pageIndex]="currentPage"
            [pageSizeOptions]="[5,10,20,50]"
            [pageSize]="pageSize"
            (page)=" handlePage($event)">
        </mat-paginator>

    </div>
