<div class="sm:inset-0 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-4 sm:py-4 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">
                {{getLabel('zoomMeeting')}}
            </div>
        </div>



        <!-- buttons -->
        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <div class="flex-auto">
            </div>
            
                <button *ngIf="data.length==0"
                (click)="addNewMeeting()" 
            class="sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                <mat-icon class="icon-size-5" 

                [svgIcon]=" 'heroicons_outline:plus' "></mat-icon>
                <span class="ml-2">{{getLabel('addNewMeeting')}}</span>
            </button>
            </div>

        </div>

        <div class="flex flex-auto overflow-hidden">

            <!-- Areas list -->
            <div class="flex flex-col flex-auto sm:mb-4 overflow-hidden sm:overflow-y-auto">
                <app-erp-grid #userGrid [buttons]="[]"
                    [columns]="columns">
                </app-erp-grid>
            </div>
        </div>



    </div>
